.m-table{
    width:100%;
    border: unset;
    border-collapse: collapse;
}
.m-table tr{
    border-bottom: 1px solid #BBBBBB;
    height: 48px;
    text-align: left;
}
.m-table tr td,th{
    padding-left: 16px;
    padding-right: 10px;
}
.m-table .text-align-center{
    text-align: center;
}

.m-table tbody tr:hover{
    background-color: #BBBBBB;
    cursor: pointer;
}
.m-table tbody tr.m-seclected{
    background-color: #01b0763a;
}