<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- thư viện -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

    <!-- base css -->
    <link rel="stylesheet" href="../../css/base/common.css" />
    <!-- detail css -->

  </head>

  <body>
    <div class="content">
        <input class="input" type="text" value=""placeholder="Tìm kiếm theo tên, số hồ sơ">
    </div>

    <div class="content" style="width: 200px;">
      <div class="error">
        <div class="error-text">Mật khẩu không đúng định dạng</div>
        <div class="error-arrow"></div>
      </div>  
      <input class="input input-error" type="text" value=""placeholder="Tìm kiếm theo tên, số hồ sơ">
    </div>

    <div class="content">
      <input class="input-icon input-icon-search" type="text" value=""placeholder="Tìm kiếm theo tên, số hồ sơ"> 
    </div>
  </body>
</html>
