<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- thư viện -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

    <!-- base css -->
    <link rel="stylesheet" href="../../css/base/common.css" />
  </head>
  <body>
    <div class="content">
        <table class="m-table">
            <thead>
                <tr>
                    <th></th>
                    <th style="width:50px">#</th>
                    <th style="width:100px">Mã nhân viên</th>
                    <th>Họ và tên</th>
                    <th>Vị trí/Chức vụ</th>
                    <th>Bộ phận/Phòng ban</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-align-center">
                        <input type="checkbox">
                    </td>
                    <td>1</td>
                    <td>0123455513</td>
                    <td>Nguyễn Hương Giang</td>
                    <td>Tổng giám đốc</td>
                    <td>Khối sản xuất</td>
                 <tr class="m-seclected">
                    <td class="text-align-center">
                        <input type="checkbox">
                    </td>
                    <td>1</td>
                    <td>0987568788</td>
                    <td>Nguyễn Tuấn Hưng</td>
                    <td>Tổng giám đốc</td>
                    <td>Văn phòng sale</td>
                </tr>
                <tr>
                    <td class="text-align-center" style="width:39px">
                        <input type="checkbox">
                    </td>
                    <td>1</td>
                    <td>0989448699</td>
                    <td>Nam Thành</td>
                    <td>Tổng giám đốc</td>
                    <td>Tổng công ty</td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>